<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/<%= assetPath('css/layout.css') %>">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <%- style%>
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"  >
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" ></script>
    <title>Domain Check List</title>
</head>
<body>

    <!-- <div id="header">
        <%- include('_header') %>
    </div> -->
    <div id="body" >
        <%- body %>
    </div>
    
    <!-- <div id="footer">
        <%- include('_footer') %>

    </div> -->


    <%- script %>
    <script>
        <% if(locals.flash.sucess && locals.flash.sucess.length > 0){ %>
            new Noty({
            theme:'relax',
            text: '<%= flash.sucess %>',
            type:'success',
            layout: 'topRight',
            timeout:1500
        }).show();
        <% } %>
        <% if(locals.flash.error && locals.flash.error.length > 0){ %>
            new Noty({
            theme:'relax',
            text: '<%= flash.error %>',
            type:'error',
            layout: 'topRight',
            timeout:1500
        }).show();
        <% } %>
    </script>
</body>
</html>