<link rel="stylesheet" href="/css/result-page.css">
<div id="header">
    <%- include('_header') %>
</div>

<section id="result-page">

    <div class="sidebar-filterbox container" id="sidebar">
        <div class="filter-tools">
            <label for="Genre selection">Select Genre</label>
            <select name="genre" id="genre">
                <option value="Catchy">Catchy</option>
                <option value="Modern">Modern</option>
                <option value="Catchy">Catchy</option>
                <option value="Catchy">Catchy</option>
                <option value="Catchy">Catchy</option>
                <option value="Catchy">Catchy</option>
                <option value="Catchy">Catchy</option>
            </select>
            <label for="extention Selection">Domain Extention</label>
            <select name="genre" id="genre">
                <option value=".com">.com</option>
                <option value=".in">.in</option>
                <option value=".co.in">.co.in</option>
                <option value=".org">.org</option>
                <option value=".net">.net</option>
                <option value=".io">.io</option>
            </select>
            <label for="extention Selection">Domain Availability</label>
            <form action="" class="search-form container">
                <input type="search" id="keyword" name="keyword" placeholder="Type your keyword">
                <button type="submit"><span class="iconify" data-icon="akar-icons:search"></span></button>
            </form>
        </div>
        <div class="premium-card">
            <span>Try Premium</span>
            <h2 class="container" >Domain Premium &nbsp<span class="iconify" data-icon="fluent:premium-32-regular"></span></h2>
            <ul>
                <li>Get bulk domain availability list at once</li>
                <li>Personalized list for domain availability</li>
                <li>Export available domain list to know opinion of others in your group</li>
            </ul>
            <button class="get-premium flex-center" href="#">Get Premium</button>
        </div>


    </div>
    <div id="mca">
        <div id="mca-heading">
            <h3>Showing 101 results for <span style="color: var(--pink-color); text-transform: uppercase;">"<%= keyword %>"</span></h3>
        </div>
        <div id="result-list-container">
            <div class="list-div-container unclicked">
                <div class="row1-list-div-container flex-sp-between">

                    <div class="row1-domain-cont flex-left">
                        <%= keyword %> <span style="color: var(--pink-color);"><%= ext  %></span> 
                    </div>

                   
                    <div class="row1-wishlist-cont flex-center ">
                        <form action="/user/profile/" method="post">
                            <input style="display: none;" type="text" name="item" id="">
                            <button type="submit" class="wishlist-btn">
                                <span class="iconify" data-icon="ant-design:heart-outlined"></span>
                            </button>
                            
                        </form>
                    </div>
                    
                </div>
            </div>
            <%- include('partials/result-list.ejs') %>



        </div>
    </div>
</section>
<script src="/js/result.js"></script>